<div class="wrapper">
  <h1>PERSONAL INTERVIEW</h1>
  <div class="flex">
    <div class="container">
      <a><img src="../../../../../assets/media/logos/download-arrow.png"></a>
      <img src="../../../../../assets/media/logos/img-logo.png">
      <p>Interview Questions.docx</p>
    </div>
    <div class="container">
      <a><img src="../../../../../assets/media/logos/download-arrow.png"></a>
      <img src="../../../../../assets/media/logos/img-logo.png">
      <p>Interview Questions.docx</p>
    </div>
    <div class="container">
      <a><img src="../../../../../assets/media/logos/download-arrow.png"></a>
      <img src="../../../../../assets/media/logos/img-logo.png">
      <p>Interview Questions.docx</p>
    </div>
  </div>
</div>