$base-color:#f8f8f8;
$font-color:#161c2d;
$form-color:#fff;
$warning:#e85969;
$button-warning:#fd0e35;
$border:#eaeaea;
$disabled:#588da8;
$light-font:#b8bfc6;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	background-color: $base-color;
	position: relative;
	height: 90vh;
	width: 100%;

	form {
		position: absolute;
		box-shadow: 0.5px 1px #eaeaea;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 450px;
		padding: 30px 20px;
		background-color: $form-color;
		border: 2px solid $border;
		color: $font-color;
		border-radius: 5px;

		.center {
			text-align: center;
			color: $font-color;

			h1 {
				font-size: 26px;
				font-weight: 900;
				font-family: 'Roboto';
			}

			p {
				text-align: center;
				font-size: 16px;
				margin-top: 35px;
				font-weight: 400;
			}
		}

		.flex {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 15px;
			flex-direction: column;

			input {
				width: 80%;
				height: 42px;
				border: 1px solid $border;
				border-radius: 5px;
				padding: 14px;
				margin-top: 15px;
				outline: none;
				font-family: 'Poppins';

				&::placeholder {
					font-family: 'Poppins';
					color: $light-font;
				}
			}

			.submit {
				background-color: $button-warning;
				width: 80%;
				color: $form-color;
				font-weight: 500;
				border: none;
				border-radius: 8px;
				padding: 10px 0;
				margin: 15px 0 25px 0;
				font-size: 16px;
				font-family: 'Poppins';
			}
		}
	}
}

.disabled {
	background: $disabled !important;
}
