<kt-header></kt-header>
<div class="wrapper">
	<form [formGroup]="recoverForm2" (ngSubmit)="onRecover2(recoverForm2)">
		<div class="center">
			<h1>Recover password</h1>
			<p>Enter your new password</p>
		</div>
		<div class="flex">
			<input type="password" placeholder="Password" formControlName="password">
			<div class="error" *ngIf="recoverForm2.controls.password.touched">
				<p style="color: red;text-align: left;" *ngIf="recoverForm2.controls.password.invalid">Invalid Password</p>
			</div>
			<input type="password" placeholder="Confirm Password" formControlName="confirmPassword">
			<div class="error" *ngIf="recoverForm2.controls.confirmPassword.touched">
				<p style="color: red;text-align: left;" *ngIf="recoverForm2.controls.confirmPassword.value != recoverForm2.controls.password.value">Password doesn't match</p>
			</div>
			<button type="submit" class="submit">Reset and Login</button>
		</div>
	</form>
</div>
