<div class="wrapper">
  <div class="header">
    <h1>ADD USER</h1>
    <button class="back">Back</button>
  </div>
  <form>
    <div class="container">
      <div class="flex"><label>Full Name</label><input type="text" placeholder="User Name"></div>
      <div class="flex"><label>Email ID</label><input type="email" placeholder="User Email"></div>
      <div class="flex"><label>Phone Number</label>
        <div class="number">
          <div class="select">
            <select>
              <option value="" disabled>Code</option>
            </select>
          </div>
          <input type="text" placeholder="Number">
        </div>
      </div>
      <div class="flex">
        <label>Role</label>
        <div class="role-select">
          <select>
            <option value="" disabled>Select Role</option>
          </select>
        </div>
      </div>
    </div>
    <hr>
    <div class="btn">
      <button>Add</button>
    </div>
  </form>
</div>