<div class="wrapper">
  <h1>SUBSCRIPTION LIST</h1>
  <div class="flex">
    <form>
      <div class="header-content">
        <label>Invoice</label>
        <p style="color: #1dc9b7;">Active <span><img src="../../../../../../assets/media/logos/active-dot.png"></span>
        </p>
      </div>
      <h1>Premium Plan</h1>
      <div class="section">
        <label>Start Date</label>
        <p>30th Mar,2020</p>
      </div>
      <div class="section">
        <label>End Date</label>
        <p>30th Mar,2020</p>
      </div>
      <div class="section">
        <label>Total Amount</label>
        <p>30th Mar,2020</p>
      </div>
      <button class="invoice-button">VIEW INVOICE</button>
    </form>
    <form>
      <div class="header-content">
        <label>Invoice</label>
        <p>Expired <span><img src="../../../../../../assets/media/logos/expired-dot.png"></span></p>
      </div>
      <h1>Basic Plan</h1>
      <div class="section">
        <label>Start Date</label>
        <p>30th Mar,2020</p>
      </div>
      <div class="section">
        <label>End Date</label>
        <p>30th Mar,2020</p>
      </div>
      <div class="section">
        <label>Total Amount</label>
        <p>30th Mar,2020</p>
      </div>
      <button class="invoice-button">VIEW INVOICE</button>
    </form>
    <form>
      <div class="header-content">
        <label>Invoice</label>
        <p>Expired <span><img src="../../../../../../assets/media/logos/expired-dot.png"></span></p>
      </div>
      <h1>Basic Plan</h1>
      <div class="section">
        <label>Start Date</label>
        <p>30th Mar,2020</p>
      </div>
      <div class="section">
        <label>End Date</label>
        <p>30th Mar,2020</p>
      </div>
      <div class="section">
        <label>Total Amount</label>
        <p>30th Mar,2020</p>
      </div>
      <button class="invoice-button">VIEW INVOICE</button>
    </form>
  </div>
</div>