<kt-header></kt-header>
<div class="wrapper">
	<form [formGroup]="recover3Form" (ngSubmit)="onRecover3()">
		<h1>Password reset</h1>
		<div class="flex">
			<p style="margin-top: 20px;">instruction to reset your password have been sent to:</p>
			<p style="font-size: 17px;font-weight: 700;">{{email}}</p>
			<p style="margin-bottom: 15px;">if you don't recieve it, please <span>contact support.</span></p>
			<button type="submit" class="submit" (click)="submit($event)">Back to Login</button>
		</div>
	</form>
</div>
