$base-color:#f8f8f8;
$font-color:#161c2d;
$form-color:#fff;
$warning:#e85969;
$button-warning:#fd0e35;
$border:#eaeaea;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	background-color: $base-color;
	position: relative;
	height: 90vh;
	width: 100%;

	form {
		position: absolute;
		top: 40%;
		box-shadow: 0.5px 1px #eaeaea;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 450px;
		padding: 30px 20px;
		background-color: $form-color;
		border: 2px solid $border;
		color: $font-color;
		border-radius: 5px;

		h1 {
			color: $font-color;
			text-align: center;
			font-size: 26px;
			font-weight: 700;
			font-family: 'Poppins';
		}

		.flex {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 15px;
			flex-direction: column;

			p {
				color: $font-color;
				text-align: center;
				font-size: 15px;
				margin-top: 15px;
				font-family: 'Poppins';
				font-weight: 500;

				span {
					color: $warning;
					font-weight: 500;
				}
			}
		}

		.submit {
			background-color: $button-warning;
			width: 83%;
			color: $form-color;
			border: none;
			border-radius: 6px;
			padding: 10px 0;
			margin: 30px 0;
			font-family: 'Poppins';
			font-size: 16px;
			font-weight: 500;
		}
	}
}
