<div class="wrapper">
	<div class="flex">
		<h1>USER LIST</h1>
		<button class="btn">Add User</button>
	</div>
	<form>
		<table>
			<tr>
				<th>Full Name</th>
				<th>Email ID</th>
				<th>Phone Number</th>
				<th>Role</th>
				<th></th>
			</tr>
			<tr>
				<td>Aish</td>
				<td>aishwary</td>
				<td>9029773533</td>
				<td><span class="content-back">developer</span></td>
				<div class="flex-1">
					<td><a><img src="../../../../../assets/media/logos/edit.png"></a></td>
					<td><a><img src="../../../../../assets/media/logos/delete.png"></a></td>
				</div>
			</tr>
			<tr>
				<td>Aish</td>
				<td>aishwary</td>
				<td>9029773533</td>
				<td><span class="content-back">developer</span></td>
				<div class="flex-1">
					<td><a><img src="../../../../../assets/media/logos/edit.png"></a></td>
					<td><a><img src="../../../../../assets/media/logos/delete.png"></a></td>
				</div>
			</tr>
		</table>
	</form>
</div>
