<div class="side-nav">
	<div class="dashboard"><label>dashboard</label></div>
	<label>your details</label>
	<div class="menu">
		<ul>
			<li><a href="">Settings</a>
				<ul>
					<li><a href="">My Profile</a></li>
					<li><a href="">Users</a></li>
					<li><a href="">Billing</a></li>
					<li><a href="">Subscription</a></li>
					<li><a href="">Resources</a>
						<ul>
							<li><a href="">Personal Interview</a></li>
							<li><a href="">Question Databank</a></li>
							<li><a href="">Recruitment email</a></li>
							<li><a href="">Help</a></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>