<div class="wrapper">
  <h1>Billing Details</h1>
  <form>
    <div class="Content"><label>Company Name</label><input type="text" placeholder="Please Enter Company Name"></div>
    <div class="Content"><label>Company GST No.</label><input type="text" placeholder="Please Enter Company GST No.">
    </div>
    <div class="Content"><label>Billing Address</label><textarea placeholder="Please Enter Billing Address"></textarea>
    </div>
    <div class="Content"><label>Company Email ID</label><input type="text" placeholder="Please Enter Company Email ID">
    </div>
    <div class="Content"><label>Company Contact Number</label><input type="text"
        placeholder="Please Enter Company Contact Number"></div>
    <div class="Content"><label>Payment Method</label><input type="text" placeholder="Please Enter Payment Method">
    </div>
  </form>
</div>